<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push</key>
	<dict>
		<key>token</key>
		<data>
		V0o9e0UtCxMn1ZRWbwkzwIInAkyk4rXWMarGmuiCZdo=
		</data>
		<key>keypair</key>
		<dict>
				<key>cert</key>
				<data>
				MIICnjCCAgegAwIBAgIKAZJ0C6oQSeCCGTANBgkqhkiG9w0BAQUFADBaMQswCQYDVQQG
				EwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEVMBMGA1UECxMMQXBwbGUgaVBob25lMR8w
				HQYDVQQDExZBcHBsZSBpUGhvbmUgRGV2aWNlIENBMB4XDTI1MDYzMDIxMjIzNloXDTI2
				MDYzMDIxMjczNlowLzEtMCsGA1UEAxYkRjY4OENBQzAtREY0RS00OTEwLUJGMzItOUNE
				NDhFMTRDNTMzMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDTZTCzz+uVDqkvxJ0D
				k27sUGzXBs6sM3UqGUpwJBuMwHgXqZ7SsjQEFhFuQCoex7OUz0jMrMvv+/WTvWiAAV96
				WjYZCBLGUVZVOu9R99AcK7CLHy/1/bRNX6ACn0zVYUxR/AZqjooRQxAhdLhlAsZXo7Sw
				ySBtuCBB+y27kSBB/QIDAQABo4GVMIGSMB8GA1UdIwQYMBaAFLL+ISNEhpVqedWBJo5z
				ENinTI50MB0GA1UdDgQWBBQz2jNUb2taiMyyPTfTtXCY6dPGKzAMBgNVHRMBAf8EAjAA
				MA4GA1UdDwEB/wQEAwIFoDAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
				EAYKKoZIhvdjZAYKBAQCBQAwDQYJKoZIhvcNAQEFBQADgYEAC2z7L+OHZEjni9anutSW
				7HVTQobQlN98/NMPbTZWAr+GA1spaTvSARnho/4HwXp7xRsygjKaf7NJF3xhvWxiyHsW
				7aL3RBAjpXdih/wrjW3gnV6PuuAvhTbRKYPRvgn0/xhGRYcTcI7qClpaAmcGTZbheXsa
				E9zWxSG+d5Xzrb8=
				</data>
				<key>private</key>
				<data>
				MIICXQIBAAKBgQDTZTCzz+uVDqkvxJ0Dk27sUGzXBs6sM3UqGUpwJBuMwHgXqZ7SsjQE
				FhFuQCoex7OUz0jMrMvv+/WTvWiAAV96WjYZCBLGUVZVOu9R99AcK7CLHy/1/bRNX6AC
				n0zVYUxR/AZqjooRQxAhdLhlAsZXo7SwySBtuCBB+y27kSBB/QIDAQABAoGADfKLOBHr
				1TXWa9RpF6dOlkDoLXfBgxMSE+j/RE7dknfQdJ84X2ZqkCp0k/Wf0dATRSo3/2kXO4pA
				NbM1hdyRU/6D41n95QHy190QkQJmwBW+3Bwn0R0cBinumO5e+dA/SldskcrchMNKcN6P
				q20iFMowIl/e/pRmUXjIthzwY3ECQQD4k5XjapLd37adRIXqCCgPVkJxq107gKNevHjY
				S8uXIgSylBlLE+Pyzg0zguDSfvB8n1w9JF09Dse14ep0Qt3zAkEA2bVY4Np3MLCIXEev
				OSIIrz3+I3Ug37yWd/aNCRTrheV4s15aS9mpp3RGZpgm1bmsDPqJW1seucWVy3FMokgs
				TwJBAJzOjRk+25L3Uv12gnuV1Z+HLLcEAPZOOcDDaAAaID4giZIVdrczvvImJZG/GA/x
				X8ddyBQR4ndn4XfNIddhbx0CQCqiKs+NuL2eNHXty9Cia5T1zOjgrRljcwv3ClN291B3
				SZXGqmQkMecLDCZXMXO1Mo4wGen8BB5ZJSZ7/4fgHl0CQQC6ZaJV5Daf2WbpZGJ8rRo0
				mMcXUDJA96j7QD3nylUJKCj6xh2Vgr6S70GlFnmycM3XvwMOMQm5Od7RLKSdQsbs
				</data>
		</dict>
	</dict>
	<key>identity</key>
	<dict>
		<key>legacy</key>
		<dict>
				<key>signing_key</key>
				<data>
				MHcCAQEEINfBxFrrUnq411aQu/PURboL4Gz4pl5DYQQtXrFZqLfUoAoGCCqGSM49AwEH
				oUQDQgAEfGY2QLKvsdiKLWg5+J5GbgGLK5o1nzZSMJsI3aBS5n2xZbDnWP+V2YvJ9Nm5
				UePKC3sHz/byOWCVZ2B5ozCY4w==
				</data>
				<key>encryption_key</key>
				<data>
				MIIC7QIBAAKBoQDU+EqLljyS6rXFVmncW3rXQK7zFT/P1vzTyGmKdZ//v6LHz5H6Yg8H
				i1MI0qQ4iGPlRQEGq8T0VcHHnUe3p4zc64Pmx6yx54llheyoK8psdl/KW0kNlkP9ltJs
				zvDKoB8sT4DgW4dR5AkvNQmRE1FPRyASz9mFCYHXtOKXK+ketU2R6vq/lJ1fFFih24gE
				/+Nyqn0Fg9HVGYcdvn9Bdf9NAgMBAAECgaEAq1X5+yTqJLRpepKT5jE+ubATUANXbCml
				C+kfZ8JL76BIIIJRCeQb/VDMg7ubXNP1sjz6n1hPwta/aI2TZiCJBi7/1gnsWNBSzHeb
				NozMdMaqdEPVsHzg7H7wXWL6KLcn8n0CbQ4GjpZ7ezddbGMHD/dGjW4IYXn14nF4q5vw
				IgURyT0jFlzAoMqhy+u5jmREhBpHWjAwrfZSeZ+kb2GcTQJRAPu25NzGcf/yA3KBQwiI
				+4wxa6SS37H3y2mpt5qexNjZ97o6fJqX5H2pF+gRIdXMKMinWWptwertIVR4oDJI+HPd
				3fpkoluADtpdW7yLDrjzAlEA2JiHHHLxtGgZuoeXiv7osmBtEHkzCxzTcD79loxXYMOW
				Q7QScmGW7TvMdrRWWtKw732L1nGHimety4oud0Aozq6LCIIq9DUMsUlk9bVedr8CUQDx
				0g5ir1875VQ8gERXAcqwL5ZbQCMZxZYtB7h1GgzAy/57cc7dcgk4U+e8siDQVdfklSmI
				3rMKsA9yKIS2anYOUlr8QAveXdNnI4OLSgi10wJQJVDp/jnDcLx6qktQDY9rUcgRIkRv
				SdvWhcEkeXqGV1J7IgD1KKWtlgO2b0EUm6Mu/qPXosN+gZbpN2cAKGVyYmFp7LZYZih5
				nlWxwi9ULgsCUD+UFULWQJzJSydPUlC72oxJdAwKcDG7pBjFRU5Q9QHrPy05yAIDn2Zn
				dXvPcZo66aeHm0LOfiAwsP+cgj2SuQz3w/ySWhX/X1vNK/S/VKp2
				</data>
		</dict>
		<key>device_key</key>
		<data>
		MHcCAQEEIFpNktZx5/viGy+SgTWcSETEl96ZlpFKkX3FCrEPOzw5oAoGCCqGSM49AwEH
		oUQDQgAE26bI+Dlxfk6QYlfPc0v/KbFUWvngmWzkFAtEGVpCiS9/4hJ3MiMKpBlvxPRK
		wmN4AEvf5Qq2thP/0LLLS/DIYA==
		</data>
		<key>pre_key</key>
		<data>
		MHcCAQEEII54BblcRx56wlY/OZpAS3ZLp8Vquk1YZ2HwZj/S/4qloAoGCCqGSM49AwEH
		oUQDQgAExJ6tp9q69pNhWJWoEKCjFHSSAYgf99FT73iv4MHQKwNyixR0QYdnvbNIq92d
		BxdIQzjrjIWURsb3gg78BAnDnw==
		</data>
	</dict>
	<key>os_config</key>
	<dict>
		<key>type</key>
		<string>MacOS</string>
		<key>inner</key>
		<dict>
			<key>product_name</key>
			<string></string>
			<key>io_mac_address</key>
			<data>
			q83vq83v
			</data>
			<key>platform_serial_number</key>
			<string></string>
			<key>platform_uuid</key>
			<string></string>
			<key>root_disk_uuid</key>
			<string></string>
			<key>board_id</key>
			<string></string>
			<key>os_build_num</key>
			<string></string>
			<key>platform_serial_number_enc</key>
			<data>
			</data>
			<key>platform_uuid_enc</key>
			<data>
			</data>
			<key>root_disk_uuid_enc</key>
			<data>
			</data>
			<key>rom</key>
			<data>
			</data>
			<key>rom_enc</key>
			<data>
			</data>
			<key>mlb</key>
			<string></string>
			<key>mlb_enc</key>
			<data>
			</data>
		</dict>
		<key>version</key>
		<string>13.6.4</string>
		<key>protocol_version</key>
		<integer>1660</integer>
		<key>device_id</key>
		<string>F6DBB054-F2DF-578F-998E-325F18A4B74F</string>
		<key>icloud_ua</key>
		<string>com.apple.iCloudHelper/282 CFNetwork/1408.0.4 Darwin/22.5.0</string>
		<key>aoskit_version</key>
		<string>com.apple.AOSKit/282 (com.apple.accountsd/113)</string>
	</dict>
</dict>
