<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <dict>
                <key>auth_keypair</key>
                <dict>
                        <key>cert</key>
                        <data>
                        MIIIKDCCBxCgAwIBAgIQQWe7FFX5EfD//////////zANBgkqhkiG9w0BAQUFADBuMQsw
                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                        MQ4wDAYDVQQPDAVkcy1pZDEmMCQGA1UEAwwdQXBwbGUgSURTIERTLUlEIFJlYWxtIENB
                        IC0gUjEwHhcNMjUwNjMwMjEyOTA4WhcNMzUwNjI4MjEyOTA4WjBcMQswCQYDVQQGEwJV
                        UzETMBEGA1UECgwKQXBwbGUgSW5jLjEJMAcGA1UECwwAMQ4wDAYDVQQPDAVkcy1pZDEd
                        MBsGCgmSJomT8ixkAQEMDUQ6MjE2MzU4MzYwMTIwggEiMA0GCSqGSIb3DQEBAQUAA4IB
                        DwAwggEKAoIBAQCyXfkp7vA8y0pWYZy4vLKPKtPf5xfE9QIujWk8GIIJCzCJjt28wBsb
                        2PPWlZhez4S7y4QHQBxur/720jMIUC/JyxTrmwVbeMB0LD1PjPVS7J7i1PSpZCgekhiU
                        Ggyd1TEOUEyfZk0QxoyROBeXoPKYqTNa9irimDX3+2CVzWubmBiOWaHvzbYMlZ3mHUxZ
                        hAmhiNv4yS57x/ql9pUuPWivcvMSijGo9jRHCuTojWt7JhzDfZF55eNAnJFnmtgoLg62
                        zunuKOqa/VY/YaUMPKyajsETsjUYAprJhT/MfLWo/ztdXZ5qH62NFmcQuQHiSmEdIo21
                        b6IxH6EhmFc4fD9jAgMBAAGjggTSMIIEzjCCBEoGA1UdEQSCBEEwggQ9oCAGCiqGSIb3
                        Y2QGBAQDEgADAAAAAQAAAAAAAAZoAAAAAKCCBBcGCiqGSIb3Y2QGBAcDggQHAEZVU1AA
                        GUqccsasNDtP/3aWC3ZJKBbNIb18VlS5eEMCkAn25ZyjwRLVvDeyKOLkczu5uXXfNSTb
                        4sP295Qeyt68EDstPqz1iFxk6e8SH4qO3G/Je9t4jzy3llMDfC69v/lkj27RDRn2CKAu
                        eXZPPbVp6xKtZHqPTYxvXVAy3nfqjMJpCsYM1lIR+4ESgYHgXAS0BmfjhtT9YRTps8xj
                        1pcd6flPWDCYIQwtV0BYd4ylTm390vw+6K/Q0YTCseI3Wz+YIS8H8GjGgM4zhXobvRq3
                        lPtzhTMwgwFQX8FB3MdesJMSk73MLmRzBLF1aXyV6nIUbArI5/TS4a43YSGcFkYyR5es
                        lQNUCO9MpYF3ckz3iuXcQjAm9cHVC0LFBgNZC/4obrguWc74FyWvBg8HNyaMrt/WJKEk
                        BssccrIbO/LacZa/m2JRwDiOCcagry4FtlMoQxYwiWzPzY6INYrKa8A+vZlN4Fb6AMsJ
                        z/QAauBGnWGqNBK97pgUBdmhqQVaobyUEVnLhTouLne5DkWwRiqfg2uxavMfZ69Ws5Ow
                        Dis9X+koUPZUS1fKoo2O0Jc1OnHdtIzhXyWYq9pmYWrz6iViomlNN1OcMV3TGTefLppb
                        Sa8FQtZhurk96fiQN2uhmrscjxaTyfaikK4sfDv6TCyormiwxt3q9XjKcy4Cwwo3Q4Jg
                        ddj181qc/e0S5RTEQ4O3oMeestztX8HpE5dzk1A/L5jkS1hF1mKfOQzebgdIWAzFR4yL
                        Ti5QjNGUy4pj9KnU40gda0+uCtHzhCjITPcR24DbiTYphsm+pUWjllQ0HnT3rWg2qCzC
                        +EbPPZgbrSL816PTQV1oUZu9Y+CpWJyAyQYgl7mY8rAR17hJ3nmAwMC6BfjqRmwbQM2b
                        Q7vVb7tsA/Yy20dWG1AeRbEOMrMEatlTBeIcZ+PjzF5Vxm/ePLLQq+snl+KBO6yMhjRU
                        fMLR5p5ERLxxlxt+7UTBey/o5cNUk6g1FGNknYzeevBSlcPwF2rsj34Wl7Qhcz0hvDas
                        xYZb6h9bgpilvyQdMJhG8tBbxN9cHdCL5grbe/mX0kDX0QTw7Er+ZWTY1A99m4VsPRqt
                        d7e+cfwEZob4JF8h+zXTgsrWZyye4z0+SGtKjRRHesDaW2bqP2P1uHZqTSVCFYpC0Bb3
                        GefEdWM8/p8zyCaWKnS0eDSpXWQAC9N4i1bfMj0yYhLLOlMu8NYmZhOAcj7WxxLknrLu
                        rNdTrWTwdfaV6iexIZrBAncy8mCOr4QJ18DdABPnec5xF8R7A85wgSrjk37FiyCj99jX
                        T4TWqDXcUSeD4Cwsn8msTPBiyLBTvXYOQx5DmU5uMGyC52+cNFskGSYj+yuHWLSmt/9o
                        j6uHFpcwHwYDVR0jBBgwFoAUhNNshlgwd2JETKyHiRRE8hyxO2MwHQYDVR0OBBYEFIoD
                        qtg4DEGSl8ENYhxK6EG4arAhMAwGA1UdEwEB/wQCMAAwDgYDVR0PAQH/BAQDAgP4MCAG
                        A1UdJQEB/wQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOCAQEA
                        Pc2WFu3AmGkjMeVzqNY6q/SnFs6OU2mRgCYWoM9q7FFngzTlEhtzc4kdVl1e7SnmL3i2
                        TOhrxPj9ce9g+g7dhTO29sIn0gOvPZGf8WGGX98w0EgYg/PUqki8Ib/EZIfb3xsUup+z
                        Fj7BQZYJf2QJE7PCdXlo8bzJXQpp7UFwGwCQKZo3nF3IKz45qAhldI772yyzlyYDlFe/
                        JB4KKSW2H9IUNs3pUwTYJNV25e4L07GfPQiDCmbtMpgfsUe9nlCeo46phTgclgYA12hQ
                        up9XpXj1iNxv+Qd1lyxlCiFs3/22yuqQ8PvAFZ+Q2OLQyLElmK0v7bQBjEYJZQIo812d
                        +w==
                        </data>
                        <key>private</key>
                        <data>
                        MIIEowIBAAKCAQEAsl35Ke7wPMtKVmGcuLyyjyrT3+cXxPUCLo1pPBiCCQswiY7dvMAb
                        G9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU65sFW3jAdCw9T4z1Uuye4tT0qWQoHpIY
                        lBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq4pg19/tglc1rm5gYjlmh7822DJWd5h1M
                        WYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0Rwrk6I1reyYcw32ReeXjQJyRZ5rYKC4O
                        ts7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/zHy1qP87XV2eah+tjRZnELkB4kphHSKN
                        tW+iMR+hIZhXOHw/YwIDAQABAoIBAE0WsVvuwVS9FdVMncP4BgI7Y9P22D6PF9DP3EYV
                        X4oSFHm3Td1Id87qzsQU5oQ/kyHo/Rh3HHK4TO0W/uheY7EGvPVxC/kzMJZlEmCBzvt2
                        edsWZ+GYAIDp6oaD1aUXYXrKuLsBp1gTP+h5gjTN4luZcTEkiHdjipuxQNatsA7QDgKC
                        3nsHhbZlM9goxrt0D38CTT3VB2CiR3+9p2Rgw6iMWkK0aDQKwPA3rehyTT1i43eYN/V3
                        9HdNAd+ruGsTZwOVOTxFYQNcVEsBVnBSCWPasgC7DlbgnF72ZxKdTPL8c2eOvdXL4fFL
                        GowzV1S0uRwcjZQF6J2y1kunU1KpF2kCgYEA4SlOWBcb1hAcqg1YFnY4El20S43dTKVI
                        7/JVhz+/lUx3/BiAqU0mQ4Q9nc1VjFZLPo+Ut6GoF2TUz1INFC3SayQPtPjKrZ+RGp46
                        UEx/S8u+jzZz37BNMYfx/GOx+U4FOKa74PPghk4FnssYykIWnhMHgtco/jjQIh85oleX
                        7wsCgYEAysvy2E+E06nbGYhMZidh+WEWqX9JTqe/7gKP5PUAhomKlQMYr5WiTFXZ03eR
                        Wg+Con4dhSNH9dRGPrRgCVH4dDM5uFmeKYaB13dUHrMb9ci3Xk4n9YnYldKKIUbZt0KC
                        5x/eyNKNC84X38go56bRTo7K7UpUydWLvV4nyDvViAkCgYA86C+JJLci8LjQR0vMx63j
                        SfW7emSilxNj1OnN7DCm8kiCqR4krfnryZnhVeoOTEmOYsiX4+LUcTIf4tIm4z5IPTkC
                        e0pYLRHTYXnkvsywdCzYEKLHn6lB/MQ4wb8i8Tf4WyH3eAEEU5axnb7W94mmuP8PJaSx
                        IC0tDcVJZOh0gQKBgQCejNFyOMlaSsQXtC4297drp3J2ViPUMOaniK1DjiE5DjOgyOj1
                        7gETuVMyN5sWVGYH8J3Xx3utQKciwxcKcmHTR3FrJfW39YdyE8NatSG5CZIDUwt+tqT0
                        jcScu63fz0pUtOATFjpb7mdP+EeyxQODbbRNzP15R1GXXhOwQsdxMQKBgEPrYqautLGq
                        G7MGRTBXzR5tCrHn7ne1aXaG+hjl52kxVIWIt6qwxkjgooDdLc3zEctzmxUhNPPb6uj6
                        GmxXZ3/+0BXJCwaj4wHbBQmZEXR0FzDhIBdDJtmS797Q6Cb/WC5peNZFcJ9B+xTGqZtt
                        3Dl8Fyl0Kin/h8jG0FdPvuuZ
                        </data>
                </dict>
                <key>user_id</key>
                <string>D:21635836012</string>
                <key>registration</key>
                <dict>
                        <key>com.apple.private.alloy.facetime.multi</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHFTCCBf2gAwIBAgIQQeXET1X5EfANHJKG+3L3EDANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUwNjMwMjEyOTA4WhcNMjUwODE0MjEyOTA4WjCB+DELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xLzAtBgNVBAsMJmNvbS5hcHBsZS5wcml2YXRl
                                        LmFsbG95LmZhY2V0aW1lLm11bHRpMQ4wDAYDVQQPDAVkcy1pZDEdMBsGCgmSJomT8ixk
                                        AQEMDUQ6MjE2MzU4MzYwMTIxdDByBgNVBAUTa2I6MkU1RDdCNUI0OUZFNUUyM0I4RkYz
                                        QjQzQ0UzOUY5Njk5MzU4MjFGQi81NzRBM0Q3QjQ1MkQwQjEzMjdENTk0NTY2RjA5MzND
                                        MDgyMjcwMjRDQTRFMkI1RDYzMUFBQzY5QUU4ODI2NURBMIIBIjANBgkqhkiG9w0BAQEF
                                        AAOCAQ8AMIIBCgKCAQEAsl35Ke7wPMtKVmGcuLyyjyrT3+cXxPUCLo1pPBiCCQswiY7d
                                        vMAbG9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU65sFW3jAdCw9T4z1Uuye4tT0qWQo
                                        HpIYlBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq4pg19/tglc1rm5gYjlmh7822DJWd
                                        5h1MWYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0Rwrk6I1reyYcw32ReeXjQJyRZ5rY
                                        KC4Ots7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/zHy1qP87XV2eah+tjRZnELkB4kph
                                        HSKNtW+iMR+hIZhXOHw/YwIDAQABo4IDIjCCAx4wggKaBgNVHREEggKRMIICjYYnbWFp
                                        bHRvOmplcnJ5bGFuZGdyZWVuQGNvcHBlci5qanRlY2guZGV2hh9tYWlsdG86Y29vcGVy
                                        QGNvcHBlci5qanRlY2guZGV2oC8GCiqGSIb3Y2QGBAYDIQBXSj17RS0LEyfVlFZvCTPA
                                        gicCTKTitdYxqsaa6IJl2qAfBgoqhkiG92NkBgQIAxEAQeXET1X5EfANHJKG+3L3EKAs
                                        BgoqhkiG92NkBgQEAx4AAwAAAAIAAAADAAAAAQAAAAEAAAAAAAAGaAAAAACgggG/Bgoq
                                        hkiG92NkBgQHA4IBrwBGVVNQANWTrd3GrDQ7T/92lgt2SSgpfIc2VVQmdtImt0OScBdH
                                        DhQCl2VEd7AH8UqY8nuSZ6J2z1SHQaEesGLWuvxZK+DV3QddGq7m1zLfAS/wfUifCEQ9
                                        mn+eWFawAKBtKIM5T2FF7q6/h3J+Qh9TYJfVOFMrNLYG48pV0lvwqPpaiL9gcmRCa8R/
                                        bfzavUYGvIYPMpsDfWOKcmM5prlh6Yuj24A5RMIo9UT9l0gDoFO3FEzn7OwMZH5CoFWn
                                        oOMp+yqMY64nUaVufN2A6tvPa8J9yW3NqAdYJwNyBgyvk9yNXPS7J4/kEONQ+hR1O33P
                                        0+6Qg3D2JYq8XPchG8VCqXVGRaxvq2xepshNTn4+RbLwLBkK5sDzJwzuHah4falOVavH
                                        WJsmKAYEzGd4gtMJ1M5tnQ4Lcl85QgaHEpfJ27hFIO8rlyge9tdtiHpeWAtC7lp3+V05
                                        pKivUPLd7I4M0GzIbpz3xzZBF6giV/9hqv4EbKpUP0bT5nYbnV+07LXHBm5+nDxP+1J3
                                        P7Wj4wuadxFakuJWRMp7QuKe5Et14X13MvPWZ+JsZtbjWjvcMB8GA1UdIwQYMBaAFMZ7
                                        ab5JwEEOwMirMjI45D+RQIvaMB0GA1UdDgQWBBSKA6rYOAxBkpfBDWIcSuhBuGqwITAM
                                        BgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAgBgNVHSUBAf8EFjAUBggrBgEFBQcD
                                        AQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAFnsM8bFi3cNlIZrZGsuZsHcNsKj
                                        kwwWDytGh+1VxpL8DuUvUGuVpnMDbDEbzxL+6HAeg4WUyQ9x/8xjGa2lKeHXkSahgnBk
                                        mmF1lG1zikGyeHgwP3A3RiYWgB8WwE56BV+FMsTfiXGmVlhLJnXjfUDrSBu8SYvQZljH
                                        Zfn89tYijzCnQP9Ph+gOL8VfNEoSrsXrT2CK8MKKSwSDHAZVutz7WtsO8IADvDDAIqns
                                        69Q7Nn7lJFCjsxh8xn3Kq3QXyrAfQIw9Gob5i5UygEc2p4NcDZpRFV+4NOZw/HOTXSr2
                                        qrvcXFCqmII1pCknHF0uSkcMMu9tbQgh7o3MqjwXRr0=
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEowIBAAKCAQEAsl35Ke7wPMtKVmGcuLyyjyrT3+cXxPUCLo1pPBiCCQswiY7dvMAb
                                        G9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU65sFW3jAdCw9T4z1Uuye4tT0qWQoHpIY
                                        lBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq4pg19/tglc1rm5gYjlmh7822DJWd5h1M
                                        WYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0Rwrk6I1reyYcw32ReeXjQJyRZ5rYKC4O
                                        ts7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/zHy1qP87XV2eah+tjRZnELkB4kphHSKN
                                        tW+iMR+hIZhXOHw/YwIDAQABAoIBAE0WsVvuwVS9FdVMncP4BgI7Y9P22D6PF9DP3EYV
                                        X4oSFHm3Td1Id87qzsQU5oQ/kyHo/Rh3HHK4TO0W/uheY7EGvPVxC/kzMJZlEmCBzvt2
                                        edsWZ+GYAIDp6oaD1aUXYXrKuLsBp1gTP+h5gjTN4luZcTEkiHdjipuxQNatsA7QDgKC
                                        3nsHhbZlM9goxrt0D38CTT3VB2CiR3+9p2Rgw6iMWkK0aDQKwPA3rehyTT1i43eYN/V3
                                        9HdNAd+ruGsTZwOVOTxFYQNcVEsBVnBSCWPasgC7DlbgnF72ZxKdTPL8c2eOvdXL4fFL
                                        GowzV1S0uRwcjZQF6J2y1kunU1KpF2kCgYEA4SlOWBcb1hAcqg1YFnY4El20S43dTKVI
                                        7/JVhz+/lUx3/BiAqU0mQ4Q9nc1VjFZLPo+Ut6GoF2TUz1INFC3SayQPtPjKrZ+RGp46
                                        UEx/S8u+jzZz37BNMYfx/GOx+U4FOKa74PPghk4FnssYykIWnhMHgtco/jjQIh85oleX
                                        7wsCgYEAysvy2E+E06nbGYhMZidh+WEWqX9JTqe/7gKP5PUAhomKlQMYr5WiTFXZ03eR
                                        Wg+Con4dhSNH9dRGPrRgCVH4dDM5uFmeKYaB13dUHrMb9ci3Xk4n9YnYldKKIUbZt0KC
                                        5x/eyNKNC84X38go56bRTo7K7UpUydWLvV4nyDvViAkCgYA86C+JJLci8LjQR0vMx63j
                                        SfW7emSilxNj1OnN7DCm8kiCqR4krfnryZnhVeoOTEmOYsiX4+LUcTIf4tIm4z5IPTkC
                                        e0pYLRHTYXnkvsywdCzYEKLHn6lB/MQ4wb8i8Tf4WyH3eAEEU5axnb7W94mmuP8PJaSx
                                        IC0tDcVJZOh0gQKBgQCejNFyOMlaSsQXtC4297drp3J2ViPUMOaniK1DjiE5DjOgyOj1
                                        7gETuVMyN5sWVGYH8J3Xx3utQKciwxcKcmHTR3FrJfW39YdyE8NatSG5CZIDUwt+tqT0
                                        jcScu63fz0pUtOATFjpb7mdP+EeyxQODbbRNzP15R1GXXhOwQsdxMQKBgEPrYqautLGq
                                        G7MGRTBXzR5tCrHn7ne1aXaG+hjl52kxVIWIt6qwxkjgooDdLc3zEctzmxUhNPPb6uj6
                                        GmxXZ3/+0BXJCwaj4wHbBQmZEXR0FzDhIBdDJtmS797Q6Cb/WC5peNZFcJ9B+xTGqZtt
                                        3Dl8Fyl0Kin/h8jG0FdPvuuZ
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1751318949</integer>
                                <key>data_hash</key>
                                <integer>5533737722925015353</integer>
                        </dict>
                        <key>com.apple.madrid</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHKDCCBhCgAwIBAgIQQeXETVX5EfANHJKG+3L3AzANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUwNjMwMjEyOTA4WhcNMjUwODE0MjEyOTA4WjCB2zELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCU1lc3NlbmdlcjEOMAwGA1UE
                                        DwwFZHMtaWQxHTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2ti
                                        OjJFNUQ3QjVCNDlGRTVFMjNCOEZGM0I0M0NFMzlGOTY5OTM1ODIxRkIvNTc0QTNEN0I0
                                        NTJEMEIxMzI3RDU5NDU2NkYwOTMzQzA4MjI3MDI0Q0E0RTJCNUQ2MzFBQUM2OUFFODgy
                                        NjVEQTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALJd+Snu8DzLSlZhnLi8
                                        so8q09/nF8T1Ai6NaTwYggkLMImO3bzAGxvY89aVmF7PhLvLhAdAHG6v/vbSMwhQL8nL
                                        FOubBVt4wHQsPU+M9VLsnuLU9KlkKB6SGJQaDJ3VMQ5QTJ9mTRDGjJE4F5eg8pipM1r2
                                        KuKYNff7YJXNa5uYGI5Zoe/NtgyVneYdTFmECaGI2/jJLnvH+qX2lS49aK9y8xKKMaj2
                                        NEcK5OiNa3smHMN9kXnl40CckWea2CguDrbO6e4o6pr9Vj9hpQw8rJqOwROyNRgCmsmF
                                        P8x8taj/O11dnmofrY0WZxC5AeJKYR0ijbVvojEfoSGYVzh8P2MCAwEAAaOCA1IwggNO
                                        MIICygYDVR0RBIICwTCCAr2GJ21haWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0
                                        ZWNoLmRldoYfbWFpbHRvOmNvb3BlckBjb3BwZXIuamp0ZWNoLmRldqAvBgoqhkiG92Nk
                                        BgQGAyEAV0o9e0UtCxMn1ZRWbwkzwIInAkyk4rXWMarGmuiCZdqgHwYKKoZIhvdjZAYE
                                        CAMRAEHlxE1V+RHwDRyShvty9wOgXAYKKoZIhvdjZAYEBANOAAMAAAAGAAAABAAAAAEA
                                        AAARAAAAAAAABmgAAAAAAAAAeAAABmgAAAAAAAAAgQAABmgAAAAAAAAAegAABmgAAAAA
                                        AAAAfQAABmgAAAAAoIIBvwYKKoZIhvdjZAYEBwOCAa8ARlVTUAC38+Paxqw0O0//dpYL
                                        dkkoEtaIcQv/6uyICCu7uxyE1Fpzl7U0qbzbWb/gzGPV9hDW/uohWsnNvGCr7YBP+dpG
                                        f11fMEqvhaGldvgY5tXE/shssfSMtrdgZZHHxrsXPUpZ6c9XVqFz5dnhMoKqNPIu3OV4
                                        RxDq+jabBkw1QqjvS2A4Sm+PhSw5DfSGlhs8x+hyuBLnrkv/HxyChviLvpc3HydpgJA/
                                        hwys9a/RpL7jhGR0DTagL8cd7BLKp9tyaW5fzHOYo5R9EH6iOtIAXIwzfUy8NYKVgh1t
                                        FwzjWrxbGFLayt4VUJvCVY6ikGLh+TFYnpYiNYoHSumfWKkwattKpruY6LJVWB7JsXJd
                                        8TN9gwoV5r0Dt8MZyr1U2UrlEQIULboFsQ2Vm7Gx3Pwux5Zj2GTL8v1nMSEz6WZ73gLY
                                        rTqXHIKmVMuNAuakXyx6HlMN5YVsDUqaH+VFn2oE9O2JrLTiAxD5Y9I7xJHAgBZbPWUg
                                        VrE2FsjzZXB1b27SDk24ECx8Ud1YpQ54dfAiuaU2Hlr8sGdDHkKhIRLLc1sgLqW4nN/D
                                        /HBeiTAfBgNVHSMEGDAWgBTGe2m+ScBBDsDIqzIyOOQ/kUCL2jAdBgNVHQ4EFgQUigOq
                                        2DgMQZKXwQ1iHEroQbhqsCEwDAYDVR0TAQH/BAIwADAOBgNVHQ8BAf8EBAMCA/gwIAYD
                                        VR0lAQH/BBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA0GCSqGSIb3DQEBBQUAA4IBAQBG
                                        TWOOVdCfH9B+bv8Oe+42G8THddxOPS5yiJ9yTAlSeJCg9FdG7lZnNt3+iIRUAhi8MgsL
                                        dqxqG8qTCX5RE3tQjuGr9kMlul9YE4k3hC52zfeAzterrnwY207R34R4eIf4XW5ZoLiu
                                        ah8REWEBZIKp6xub6foFpUkDeJRJUYnVkhPSzmljglETY4OFd0ivJBr738y64+Ydxarg
                                        4jUtqZwbvB9Ts4Q7bAoqXKPCLLmQDrSQjjyXx3nZ8QYGD/GUoqTNw5+1WgSL34cVenzu
                                        Ga/mNGgda4WA1Mjb8L6i58ty8nCMmej6kZwOGhGkY62dFd8zc7SQsjBqX0NozNaMdHwz
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEowIBAAKCAQEAsl35Ke7wPMtKVmGcuLyyjyrT3+cXxPUCLo1pPBiCCQswiY7dvMAb
                                        G9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU65sFW3jAdCw9T4z1Uuye4tT0qWQoHpIY
                                        lBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq4pg19/tglc1rm5gYjlmh7822DJWd5h1M
                                        WYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0Rwrk6I1reyYcw32ReeXjQJyRZ5rYKC4O
                                        ts7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/zHy1qP87XV2eah+tjRZnELkB4kphHSKN
                                        tW+iMR+hIZhXOHw/YwIDAQABAoIBAE0WsVvuwVS9FdVMncP4BgI7Y9P22D6PF9DP3EYV
                                        X4oSFHm3Td1Id87qzsQU5oQ/kyHo/Rh3HHK4TO0W/uheY7EGvPVxC/kzMJZlEmCBzvt2
                                        edsWZ+GYAIDp6oaD1aUXYXrKuLsBp1gTP+h5gjTN4luZcTEkiHdjipuxQNatsA7QDgKC
                                        3nsHhbZlM9goxrt0D38CTT3VB2CiR3+9p2Rgw6iMWkK0aDQKwPA3rehyTT1i43eYN/V3
                                        9HdNAd+ruGsTZwOVOTxFYQNcVEsBVnBSCWPasgC7DlbgnF72ZxKdTPL8c2eOvdXL4fFL
                                        GowzV1S0uRwcjZQF6J2y1kunU1KpF2kCgYEA4SlOWBcb1hAcqg1YFnY4El20S43dTKVI
                                        7/JVhz+/lUx3/BiAqU0mQ4Q9nc1VjFZLPo+Ut6GoF2TUz1INFC3SayQPtPjKrZ+RGp46
                                        UEx/S8u+jzZz37BNMYfx/GOx+U4FOKa74PPghk4FnssYykIWnhMHgtco/jjQIh85oleX
                                        7wsCgYEAysvy2E+E06nbGYhMZidh+WEWqX9JTqe/7gKP5PUAhomKlQMYr5WiTFXZ03eR
                                        Wg+Con4dhSNH9dRGPrRgCVH4dDM5uFmeKYaB13dUHrMb9ci3Xk4n9YnYldKKIUbZt0KC
                                        5x/eyNKNC84X38go56bRTo7K7UpUydWLvV4nyDvViAkCgYA86C+JJLci8LjQR0vMx63j
                                        SfW7emSilxNj1OnN7DCm8kiCqR4krfnryZnhVeoOTEmOYsiX4+LUcTIf4tIm4z5IPTkC
                                        e0pYLRHTYXnkvsywdCzYEKLHn6lB/MQ4wb8i8Tf4WyH3eAEEU5axnb7W94mmuP8PJaSx
                                        IC0tDcVJZOh0gQKBgQCejNFyOMlaSsQXtC4297drp3J2ViPUMOaniK1DjiE5DjOgyOj1
                                        7gETuVMyN5sWVGYH8J3Xx3utQKciwxcKcmHTR3FrJfW39YdyE8NatSG5CZIDUwt+tqT0
                                        jcScu63fz0pUtOATFjpb7mdP+EeyxQODbbRNzP15R1GXXhOwQsdxMQKBgEPrYqautLGq
                                        G7MGRTBXzR5tCrHn7ne1aXaG+hjl52kxVIWIt6qwxkjgooDdLc3zEctzmxUhNPPb6uj6
                                        GmxXZ3/+0BXJCwaj4wHbBQmZEXR0FzDhIBdDJtmS797Q6Cb/WC5peNZFcJ9B+xTGqZtt
                                        3Dl8Fyl0Kin/h8jG0FdPvuuZ
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1751318949</integer>
                                <key>data_hash</key>
                                <integer>5591053237194338696</integer>
                        </dict>
                        <key>com.apple.ess</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHGzCCBgOgAwIBAgIQQeXEUFX5EfANHJKG+3L3ATANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUwNjMwMjEyOTA4WhcNMjUwODE0MjEyOTA4WjCB2jELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xETAPBgNVBAsMCEZhY2VUaW1lMQ4wDAYDVQQP
                                        DAVkcy1pZDEdMBsGCgmSJomT8ixkAQEMDUQ6MjE2MzU4MzYwMTIxdDByBgNVBAUTa2I6
                                        MkU1RDdCNUI0OUZFNUUyM0I4RkYzQjQzQ0UzOUY5Njk5MzU4MjFGQi81NzRBM0Q3QjQ1
                                        MkQwQjEzMjdENTk0NTY2RjA5MzNDMDgyMjcwMjRDQTRFMkI1RDYzMUFBQzY5QUU4ODI2
                                        NURBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsl35Ke7wPMtKVmGcuLyy
                                        jyrT3+cXxPUCLo1pPBiCCQswiY7dvMAbG9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU
                                        65sFW3jAdCw9T4z1Uuye4tT0qWQoHpIYlBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq
                                        4pg19/tglc1rm5gYjlmh7822DJWd5h1MWYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0
                                        Rwrk6I1reyYcw32ReeXjQJyRZ5rYKC4Ots7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/
                                        zHy1qP87XV2eah+tjRZnELkB4kphHSKNtW+iMR+hIZhXOHw/YwIDAQABo4IDRjCCA0Iw
                                        ggK+BgNVHREEggK1MIICsYYnbWFpbHRvOmplcnJ5bGFuZGdyZWVuQGNvcHBlci5qanRl
                                        Y2guZGV2hh9tYWlsdG86Y29vcGVyQGNvcHBlci5qanRlY2guZGV2oC8GCiqGSIb3Y2QG
                                        BAYDIQBXSj17RS0LEyfVlFZvCTPAgicCTKTitdYxqsaa6IJl2qAfBgoqhkiG92NkBgQI
                                        AxEAQeXEUFX5EfANHJKG+3L3AaBQBgoqhkiG92NkBgQEA0IAAwAAAAUAAAADAAAAAQAA
                                        AAEAAAAAAAAGaAAAAAAAAAB9AAAGaAAAAAAAAAB+AAAGaAAAAAAAAAB/AAAGaAAAAACg
                                        ggG/BgoqhkiG92NkBgQHA4IBrwBGVVNQAKMf31zGrDQ7T/92lgt2SSggLvl1zc05Rg5U
                                        H9j7ZHvbTSxq3cEuVqMlK4RhhgNV8cO78LHh3x+iMoGn2rMdp4IUToEo78/tkRlURVhH
                                        ClwFWp03/4WFyw7A8s/WtA9dH1lOkn14cWwRIE+wGmpJTIY/jcNG6oQOxBtyw4n3HtrN
                                        r8pCdqrk0/refhshmvpV697qlv/fkOBiu9jbn+38TdX4pWGr/ZzSaefSs3kApFSNGmk5
                                        Y+BQI3gPioYRXe0FSW0m+dXw2Eib+IJ31E7WjIAmYStOxK8hDu44f+W/r7mBzt3BP/ZD
                                        K9qiwfgjGwuG7h66/HV/UJnGHi06Fm+2VXIQ6CT2HHN5mNOQMoM/Hs6bB0pE8iJyG0IR
                                        v6Jo1keZLTllcWHK6W07K3WA8Nc28/Sstxv8UnT0JKlI7h2Ph8q/VV0ahSq5hdg7SlEC
                                        3fL1MMn/Z/o2ITcZ161uvVqHmUyCkrYlbdE/eZ/+GeL3/ZkeiEQfVyUKs0+t2X39WwdD
                                        IwIzeqXVvuwB74Ii+VP32sDQXnc0Okutzyqt/9EjELrAk+JQOqxjmPviMB8GA1UdIwQY
                                        MBaAFMZ7ab5JwEEOwMirMjI45D+RQIvaMB0GA1UdDgQWBBSKA6rYOAxBkpfBDWIcSuhB
                                        uGqwITAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAgBgNVHSUBAf8EFjAUBggr
                                        BgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAF3WUFLitt5PkXG62qsv
                                        3gcUus1i3NhkdBqQC5+iSJSoCL6AcqP71AnP8juU+KAiUtsZlXtAFzc2++g7eApj4Iag
                                        BgYbRib5zvF70BDXcegMYKXsDoC5vudTYj06VTtxN7XHuQuctGqamBjlMFMGwpjCNHmd
                                        BsZvvfdbkQF3C7+v4PCeoB9yaBs018Wsf1Z6g9rYMVIIP2ysB8zouA49LH5FmKelqoIV
                                        hupVNSSk4HX3+sSCUQMlp+H1NtbRi8gXtapeLEKK+92oNcE9lZfN0ffLhWU5PLL/dG6p
                                        LgV4DsBRg+GHSPKq0yOnnWm5oNwQUgT8GkUYfsDslqpS7x5ynNQ=
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEowIBAAKCAQEAsl35Ke7wPMtKVmGcuLyyjyrT3+cXxPUCLo1pPBiCCQswiY7dvMAb
                                        G9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU65sFW3jAdCw9T4z1Uuye4tT0qWQoHpIY
                                        lBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq4pg19/tglc1rm5gYjlmh7822DJWd5h1M
                                        WYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0Rwrk6I1reyYcw32ReeXjQJyRZ5rYKC4O
                                        ts7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/zHy1qP87XV2eah+tjRZnELkB4kphHSKN
                                        tW+iMR+hIZhXOHw/YwIDAQABAoIBAE0WsVvuwVS9FdVMncP4BgI7Y9P22D6PF9DP3EYV
                                        X4oSFHm3Td1Id87qzsQU5oQ/kyHo/Rh3HHK4TO0W/uheY7EGvPVxC/kzMJZlEmCBzvt2
                                        edsWZ+GYAIDp6oaD1aUXYXrKuLsBp1gTP+h5gjTN4luZcTEkiHdjipuxQNatsA7QDgKC
                                        3nsHhbZlM9goxrt0D38CTT3VB2CiR3+9p2Rgw6iMWkK0aDQKwPA3rehyTT1i43eYN/V3
                                        9HdNAd+ruGsTZwOVOTxFYQNcVEsBVnBSCWPasgC7DlbgnF72ZxKdTPL8c2eOvdXL4fFL
                                        GowzV1S0uRwcjZQF6J2y1kunU1KpF2kCgYEA4SlOWBcb1hAcqg1YFnY4El20S43dTKVI
                                        7/JVhz+/lUx3/BiAqU0mQ4Q9nc1VjFZLPo+Ut6GoF2TUz1INFC3SayQPtPjKrZ+RGp46
                                        UEx/S8u+jzZz37BNMYfx/GOx+U4FOKa74PPghk4FnssYykIWnhMHgtco/jjQIh85oleX
                                        7wsCgYEAysvy2E+E06nbGYhMZidh+WEWqX9JTqe/7gKP5PUAhomKlQMYr5WiTFXZ03eR
                                        Wg+Con4dhSNH9dRGPrRgCVH4dDM5uFmeKYaB13dUHrMb9ci3Xk4n9YnYldKKIUbZt0KC
                                        5x/eyNKNC84X38go56bRTo7K7UpUydWLvV4nyDvViAkCgYA86C+JJLci8LjQR0vMx63j
                                        SfW7emSilxNj1OnN7DCm8kiCqR4krfnryZnhVeoOTEmOYsiX4+LUcTIf4tIm4z5IPTkC
                                        e0pYLRHTYXnkvsywdCzYEKLHn6lB/MQ4wb8i8Tf4WyH3eAEEU5axnb7W94mmuP8PJaSx
                                        IC0tDcVJZOh0gQKBgQCejNFyOMlaSsQXtC4297drp3J2ViPUMOaniK1DjiE5DjOgyOj1
                                        7gETuVMyN5sWVGYH8J3Xx3utQKciwxcKcmHTR3FrJfW39YdyE8NatSG5CZIDUwt+tqT0
                                        jcScu63fz0pUtOATFjpb7mdP+EeyxQODbbRNzP15R1GXXhOwQsdxMQKBgEPrYqautLGq
                                        G7MGRTBXzR5tCrHn7ne1aXaG+hjl52kxVIWIt6qwxkjgooDdLc3zEctzmxUhNPPb6uj6
                                        GmxXZ3/+0BXJCwaj4wHbBQmZEXR0FzDhIBdDJtmS797Q6Cb/WC5peNZFcJ9B+xTGqZtt
                                        3Dl8Fyl0Kin/h8jG0FdPvuuZ
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1751318949</integer>
                                <key>data_hash</key>
                                <integer>1508220850752086613</integer>
                        </dict>
                        <key>com.apple.private.alloy.multiplex1</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHQDCCBiigAwIBAgIQQeXETlX5EfANHJKG+3L3DTANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUwNjMwMjEyOTA4WhcNMjUwODE0MjEyOTA4WjCB9DELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xKzApBgNVBAsMImNvbS5hcHBsZS5wcml2YXRl
                                        LmFsbG95Lm11bHRpcGxleDExDjAMBgNVBA8MBWRzLWlkMR0wGwYKCZImiZPyLGQBAQwN
                                        RDoyMTYzNTgzNjAxMjF0MHIGA1UEBRNrYjoyRTVEN0I1QjQ5RkU1RTIzQjhGRjNCNDND
                                        RTM5Rjk2OTkzNTgyMUZCLzU3NEEzRDdCNDUyRDBCMTMyN0Q1OTQ1NjZGMDkzM0MwODIy
                                        NzAyNENBNEUyQjVENjMxQUFDNjlBRTg4MjY1REEwggEiMA0GCSqGSIb3DQEBAQUAA4IB
                                        DwAwggEKAoIBAQCyXfkp7vA8y0pWYZy4vLKPKtPf5xfE9QIujWk8GIIJCzCJjt28wBsb
                                        2PPWlZhez4S7y4QHQBxur/720jMIUC/JyxTrmwVbeMB0LD1PjPVS7J7i1PSpZCgekhiU
                                        Ggyd1TEOUEyfZk0QxoyROBeXoPKYqTNa9irimDX3+2CVzWubmBiOWaHvzbYMlZ3mHUxZ
                                        hAmhiNv4yS57x/ql9pUuPWivcvMSijGo9jRHCuTojWt7JhzDfZF55eNAnJFnmtgoLg62
                                        zunuKOqa/VY/YaUMPKyajsETsjUYAprJhT/MfLWo/ztdXZ5qH62NFmcQuQHiSmEdIo21
                                        b6IxH6EhmFc4fD9jAgMBAAGjggNRMIIDTTCCAskGA1UdEQSCAsAwggK8hidtYWlsdG86
                                        amVycnlsYW5kZ3JlZW5AY29wcGVyLmpqdGVjaC5kZXaGH21haWx0bzpjb29wZXJAY29w
                                        cGVyLmpqdGVjaC5kZXagLwYKKoZIhvdjZAYEBgMhAFdKPXtFLQsTJ9WUVm8JM8CCJwJM
                                        pOK11jGqxprogmXaoB8GCiqGSIb3Y2QGBAgDEQBB5cROVfkR8A0ckob7cvcNoFwGCiqG
                                        SIb3Y2QGBAQDTgADAAAABgAAAAUAAAABAAAAAQAAAAAAAAZoAAAAAAAAAKwAAAZoAAAA
                                        AAAAALAAAAZoAAAAAAAAAIEAAAZoAAAAAAAAAD4AAAZoAAAAAKCCAb4GCiqGSIb3Y2QG
                                        BAcDggGuAEZVU1AAOpk7KsasNDtP/3aWC3ZJKIuayl7n+EHc4tsNwAclUGuwAVhFkl7b
                                        kFLkStmRqRflf0jwijGdq/XJDRAWfIep1U2M2J6v/B+qQmZL4jBrGcap7tFyV9cvju6n
                                        tzF38HuPG3OFKwWGYy/gLMhcpN1To2wHWIbB0CnOyHPJo5gBIB2Lt43NMRHsysjRDYpy
                                        UG+hcFK09wKm2WjpkmvrizeXuCka9VER5jIbTVZ5/ysmTA2J1EqFFa3eq+3JZNaYUTcE
                                        NksIC7O2UnWj2qM3+EHBimjApeO/u5ZqtKAwum4m6LHtOZiWeysJzpNUidHNaw7CqXRR
                                        eF1uU1BzQP7pnE1SQH5gzxgGfDMzBa3V85sYxN2MKNSWVzkeGbaIi1OifZ6lDowVikv7
                                        vt0IEOcsUPkl6lhg6zHjl/dUWLJc7to39kqZ60yOjyQRUt1dFaTlts3lpjgC8TG1zLxN
                                        07FY9D4jWAsoguEFr4BXTHvnxU0cQUldczycpwsuK2Gu66GUKiqcw3cHtx8SFO0WvQ4b
                                        MdFEHZJJWKpXqNr2dTdOUV7YHKADefCVdSF6BDAfBgNVHSMEGDAWgBTGe2m+ScBBDsDI
                                        qzIyOOQ/kUCL2jAdBgNVHQ4EFgQUigOq2DgMQZKXwQ1iHEroQbhqsCEwDAYDVR0TAQH/
                                        BAIwADAOBgNVHQ8BAf8EBAMCA/gwIAYDVR0lAQH/BBYwFAYIKwYBBQUHAwEGCCsGAQUF
                                        BwMCMA0GCSqGSIb3DQEBBQUAA4IBAQAQxiZgsur34xwqI2PLj/xkK+ShX3Rh/zjna50b
                                        A1nogWETnpjsIR3qxJKE2sUQVX7qpwKtPc6k+7ONDgBsoAJmdERm0Dd6iHvbgeIjeeJ8
                                        vIWyIUbqGdKdcKmPYw/7YsUWmv0YDulIdc+wJQwPyrtYrdJo0qBSP0T7ZJdKIKdrV1nh
                                        lC0RVsB4NKknj4jEG9hKQfdxI2B2bkqhsAchVvJkaJcToYG5J6FrrRdeSgX+M5t3XnHa
                                        34HRnpAaMlTnNTQ9KWX9txj24NuWYJvZjHPaO7fKSIxNKvEfHlQYH49JZL89wv54Pf/K
                                        ja/+rc28xCes9hBjuolznMkYP0ERdov6
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEowIBAAKCAQEAsl35Ke7wPMtKVmGcuLyyjyrT3+cXxPUCLo1pPBiCCQswiY7dvMAb
                                        G9jz1pWYXs+Eu8uEB0Acbq/+9tIzCFAvycsU65sFW3jAdCw9T4z1Uuye4tT0qWQoHpIY
                                        lBoMndUxDlBMn2ZNEMaMkTgXl6DymKkzWvYq4pg19/tglc1rm5gYjlmh7822DJWd5h1M
                                        WYQJoYjb+Mkue8f6pfaVLj1or3LzEooxqPY0Rwrk6I1reyYcw32ReeXjQJyRZ5rYKC4O
                                        ts7p7ijqmv1WP2GlDDysmo7BE7I1GAKayYU/zHy1qP87XV2eah+tjRZnELkB4kphHSKN
                                        tW+iMR+hIZhXOHw/YwIDAQABAoIBAE0WsVvuwVS9FdVMncP4BgI7Y9P22D6PF9DP3EYV
                                        X4oSFHm3Td1Id87qzsQU5oQ/kyHo/Rh3HHK4TO0W/uheY7EGvPVxC/kzMJZlEmCBzvt2
                                        edsWZ+GYAIDp6oaD1aUXYXrKuLsBp1gTP+h5gjTN4luZcTEkiHdjipuxQNatsA7QDgKC
                                        3nsHhbZlM9goxrt0D38CTT3VB2CiR3+9p2Rgw6iMWkK0aDQKwPA3rehyTT1i43eYN/V3
                                        9HdNAd+ruGsTZwOVOTxFYQNcVEsBVnBSCWPasgC7DlbgnF72ZxKdTPL8c2eOvdXL4fFL
                                        GowzV1S0uRwcjZQF6J2y1kunU1KpF2kCgYEA4SlOWBcb1hAcqg1YFnY4El20S43dTKVI
                                        7/JVhz+/lUx3/BiAqU0mQ4Q9nc1VjFZLPo+Ut6GoF2TUz1INFC3SayQPtPjKrZ+RGp46
                                        UEx/S8u+jzZz37BNMYfx/GOx+U4FOKa74PPghk4FnssYykIWnhMHgtco/jjQIh85oleX
                                        7wsCgYEAysvy2E+E06nbGYhMZidh+WEWqX9JTqe/7gKP5PUAhomKlQMYr5WiTFXZ03eR
                                        Wg+Con4dhSNH9dRGPrRgCVH4dDM5uFmeKYaB13dUHrMb9ci3Xk4n9YnYldKKIUbZt0KC
                                        5x/eyNKNC84X38go56bRTo7K7UpUydWLvV4nyDvViAkCgYA86C+JJLci8LjQR0vMx63j
                                        SfW7emSilxNj1OnN7DCm8kiCqR4krfnryZnhVeoOTEmOYsiX4+LUcTIf4tIm4z5IPTkC
                                        e0pYLRHTYXnkvsywdCzYEKLHn6lB/MQ4wb8i8Tf4WyH3eAEEU5axnb7W94mmuP8PJaSx
                                        IC0tDcVJZOh0gQKBgQCejNFyOMlaSsQXtC4297drp3J2ViPUMOaniK1DjiE5DjOgyOj1
                                        7gETuVMyN5sWVGYH8J3Xx3utQKciwxcKcmHTR3FrJfW39YdyE8NatSG5CZIDUwt+tqT0
                                        jcScu63fz0pUtOATFjpb7mdP+EeyxQODbbRNzP15R1GXXhOwQsdxMQKBgEPrYqautLGq
                                        G7MGRTBXzR5tCrHn7ne1aXaG+hjl52kxVIWIt6qwxkjgooDdLc3zEctzmxUhNPPb6uj6
                                        GmxXZ3/+0BXJCwaj4wHbBQmZEXR0FzDhIBdDJtmS797Q6Cb/WC5peNZFcJ9B+xTGqZtt
                                        3Dl8Fyl0Kin/h8jG0FdPvuuZ
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1751318949</integer>
                                <key>data_hash</key>
                                <integer>4756997147551586280</integer>
                        </dict>
                </dict>
                <key>user_type</key>
                <string>Apple</string>
                <key>protocol_version</key>
                <integer>1640</integer>
        </dict>
</array>
</plist>