on: [ push, pull_request, workflow_dispatch ]
name: Build
jobs:
  build:
    name: OpenBubbles APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update submodules
        run: git submodule update --init --recursive --remote

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: false
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.24.5

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install Protobuf compiler
        run: sudo apt-get install -y protobuf-compiler patchelf

      - name: Run Build Script
        run: ./build.sh
